* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Sans-serif;
  
}

body {
  background:#000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow-x: hidden;
  
}

:root {
  font-size: 16px;
  
}

#root {
  width: 100%;
}
