* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",Sans-serif;
  
}

body {
  background:#000;
  min-height: 600px;
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

:root {
  font-size: 16px;
  
  
  
}

@media screen and (min-width: 1140px) {
  :root{
    font-size:16px;
  }
}

@media screen and (max-width: 1139px) {
  /* :root{
    font-size:12px;
  } */
}

#root {
  width: 100%;
}
